
.products{
 
    background-color:darkcyan;
    height: 650px;
    overflow-x: hidden;
 }
 .productsh1{
     text-align: center;
     font-size: 40px;
     color: #11116d;
 }
 
 .container{
     display: flex;
     flex-wrap: wrap;
 }
 .container div{
     position: relative;
     margin: 45px;
     background-color:white;
     height: 360px;
     width: 350px;
 }
 .first-container,.second-container,.third-container{
     flex-shrink: 0;
 }
 .fa-share-nodes{
    position: absolute;
    left: 20px;
    top: 40px;
 
 }
 .containerimg{
     position: absolute;
     width: 200px;
     height: 100px;
     right: 20px;
     top: 10px;
     }
 .shoe{
     position: absolute;
     right: 70px;
     top: 130px;
     font-size: 20px;
     color: #334567;
    
 }
 .containerp{
     position: absolute;
     top:160px;
     left: 25%;
     font-size: 15px;
     display:flex ;
     flex-wrap: wrap;
 }
  .cost{
     position: absolute;
     right: 70px;
     bottom: 50px;
     color:red;
 }
 .span{
     color:green;
 }
 .span2{
    color:yellow;
}
.span3{
    color:red;
}
.span4{
    color:rgb(128, 0, 70);
}
.span5{
    color:rgb(23, 20, 220);  
}
 .btns{
     position: absolute;
     bottom: 20px;
     left: 10px;
     padding: 10px;
     width: 130px;
     border-radius: 10px;
     cursor: pointer;
     background-color:#89346d;
     border-color:#89346d;
     box-shadow: 3px 15px 20px rgba(0, 0, 0, 0.5);
     color: white;
     font-weight: bolder;
     font-family: cursive;
 }
 .btns:hover{
     background-color: cornflowerblue;
     border-color: cornflowerblue;
     color: #89346d;
     opacity: 0.8;
     transition:1s;
 }
 table{
    width: 30%;
    border-collapse: collapse;
    position: relative;
    
}
.first-tabel{
    transform: translate(90px);
}
.second-tabe{
    transform: translate(630px);
    position: absolute;
    top: 600px;
}
td,th{
    padding: 12px 15px;
    border: 1 solid #ddd;
    text-align: center;
}
th{
    background: darkblue;
    color: #fff;
}
tr:nth-child(even){
   background-color: #f5f5f5;
}
@media (max-width:1350px) {
    .products{
        height: 1150px;
    }
}
@media (max-width:1000px) {
    .products{
        height: 2000px;
    }
}

@media (max-width:900px) {
    .products{
        height: 1700px;
    }
    th{
       display: none;
    }
       tr,td{
       display: block;
       width: 100%;
    }
    tr{
       margin-bottom: 15px;
    }
    td{
       text-align: right;
       padding-left: 50%;
       position: relative;
    }
    td::before{
       content: attr(data-label);
       position: absolute;
       left: 0;
       width: 50%;
       padding-left: 15px;
       font-size: 15px;
       font-weight: bold;
       text-align: left;
    }
    .second-tabe{
        transform: translate(90px);
        top: 104em;
}
}

@media (max-width:450px) {
    .products{
        height: 1700px;
    }
    .container{
       width: 310px;
        margin-left: 0;
    }
    .container p{
       font-size: 14px;
       bottom: 70px;
    } 
    .cost{
        position: absolute;
        bottom: 10px;
        right: 5px
    }
    .btns{
        position: absolute;
        bottom:3px;
        height: 40px;    
    }
}